<styled-text>
  <div class="foo">暴動をスタイリング🔥</div>

  <style>
    .foo {
      display: inline-block;
      background-color: #ffa9a9;
      border-radius: 4px;
      padding: 0.5em;
    }
  </style>
</styled-text>